@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}
/* color: #7EB77F; */
/* color: #EA2B1F; */
body {
    text-align: center;
    background-color: #548687;
}
.o-color{
    color: rgba(61, 220, 151,0.9);
}
.x-color{
    color: rgba(234, 43, 31,0.8);
}
#game-title{
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
}
.box, #reset-btn, #new-btn:hover{
    cursor: pointer;
}
.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    gap: 1.5vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0, 0, 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    background-color: #F4F3EE;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
#reset-btn{
    margin-bottom: 1rem;
}
#reset-btn, #new-btn{
    padding: 1rem;
    background-color: #191913;
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
#msg{
    color: rgb(207, 205, 167);
    font-size: 3rem;
    padding: 0.75rem;
}
.message-container{
    height: 20vmin;
}
.hide{
    display: none;
}


@media screen and (max-width: 576px) {
    .container{
        height: 60vh;
        width: 100vmin;
    }
    .game{
        height: 90vmin;
        width: 90vmin;
        gap: 1.5vmin;
    }
    .box{
        height: 28vmin;
        width: 28vmin;
    }
    .message-container{
        height: 40vmin;
    }
    #msg{
        font-size: 2rem;
    }
    #game-title{
        font-size: 1.75rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    #reset-btn{
        margin-top: 1.5rem;
    }
}